#countlabel{
    display: block;
    text-align: center;
    font-size: 50px;
}

#decrease{
    
    text-align: left;
    font-size: small;
}
#increase{
    text-align: right;
    font-size: small;
}
#reset{
    text-align: center;
    font-size: small;
}